<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inMarket Data Challenge Analytics Web App</title>
    {% include 'html_dependencies.jinja2' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</head>

<body>
<nav class="navbar navbar-default">

</nav>

<div class="content container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>