.form-size {
    max-width: 1000px;
    margin: 0 auto;

    background-color: #E9E9E9;
    padding: 20px;

    border: 1px solid #D5D5D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.insight-spacing {
    padding-bottom: 75px;
}