{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Generated Plots</h1>
    </div>

    {% for cell in excel %}
        <p>{{ cell }}</p>
    {% endfor %}

{% endblock %}