{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header" style="padding-bottom:20px">
        <h1>Data Insights {{filename}} <small>Analytics on Children's Electrolyte drink sales.</small></h1>
        <p>This was an exercise in developing a custom web application for inMarket that processes a specifically formatted Excel or Google Sheet.<br>
        A key metric used in this analysis is <b>Customer Buy %</b>. This metric represents the proportion of visitors to a store who made a product purchase.</p>
    </div>

    <div class="insight-spacing">
        <h3><b>Age Insights</b></h3>
        <hr />
        <p align="center"><i><b>The size of the dots represents the % of the Total Population.</b></i></p>
        <div class="container" align="center">
            <embed type="image/svg+xml" src={{age_graph|safe}} style="max-width:1200px"/>
        </div>
        <hr />
        {{ ages_df.to_html(classes='table table-striped" id="data_table'| safe) }}
    </div>

    <div class="insight-spacing">
        <h3><b>Chain Category Insights</b></h3>
        <hr />
        <p align="center"><i><b>The size of the dots represents the Average # of Customers per Store within the Category.</b></i></p>
        <div class="container" align="center">
            <embed type="image/svg+xml" src={{category_graph|safe}} style="max-width:1200px"/>
        </div>
        <hr />
        {{ chain_df.to_html(classes='table table-striped" id="data_table2'| safe) }}
    </div>


    <div class="insight-spacing">
        <h3><b>Store Insights</b></h3>
        <hr />
        <p align="center"><i><b>The size of the dots represents the % of the Total Population.</b></i></p>
        <div class="container" align="center">
            <embed type="image/svg+xml" src={{store_graph | safe}} style="max-width:1200px"/>
        </div>
        <hr />
        {{ stores_df.to_html(classes='table table-striped" id="data_table3'| safe) }}
    </div>

    <div class="insight-spacing">
        <h3><b>Potential Customer Sales for high selling stores with a Customer Buy % lower than their Category's average.</b></h3>
        <p>If these high performing stores (by amount of sales) reached their categories Customer Buy % average, the amount of customers could have potentially been higher
        by <b>{{ total_potential_customers }}</b></p>
        <hr />
        {{ potential_sales.to_html(classes='table table-striped" id="data_table4' | safe) }}

    </div>

{% endblock %}